// colors
$main-text-color: #444;
$secondary-text-color: #777;
$white-color: #fff;

//font sizes
$main-title-size: 36px;
$secondary-title-size: 24px;
$main-text-size: 16px;
$secondary-text-size: 14px;

// font weight
$main-text-weight: 500;
$secondary-text-weight: 400;
$bold-text: 700;
$thin-text: 300;
