// colors
$main-theme-color: #b5b5d7;
$secondary-theme-color: #ffd700;
$main-background-color: #f0f0f0;
$main-text-color: #444;
$secondary-text-color: #777;
$hover-color: #ddd;
$action-color: #007bff;
$error-color: #ff0033;
$white-color: #fff;
$black-color-opacity-70: rgba(0, 0, 0, 0.7);
$black-color-opacity-20: rgba(0, 0, 0, 0.2);

//font sizes
$main-title-size: 36px;
$secondary-title-size: 24px;
$main-text-size: 16px;
$secondary-text-size: 14px;

// font weight
$main-text-weight: 500;
$secondary-text-weight: 400;
$bold-text: 700;
$thin-text: 300;
